<div class="row-fluid">
  <div class="span2">
    <div class="btn-group">
      <%=link_to_function("<i class='icon-plus'></i> Add".html_safe, "wfFilter.addCondition()", :class => "btn btn-primary btn-small") %>
      <%=link_to_function("<i class='icon-remove'></i> Clear".html_safe, "wfFilter.removeAllConditions()", :class => "btn btn-danger btn-small") %>
    </div>
  </div>
  <div class="span10 text-right form-inline">
    <label for="wf_order">Order</label>
    <%= select_tag(:wf_order, options_for_select(wf_filter.condition_options, wf_filter.order), {:onChange=>"markDirty()"}) %>
    <%= select_tag(:wf_order_type, options_for_select(wf_filter.order_type_options, wf_filter.order_type), {:onChange=>"markDirty()", :class => 'input-mini'}) %>
    <label for="wf_per_page">Per Page</label>
    <%= select_tag(:wf_per_page, options_for_select(wf_filter.per_page_options, wf_filter.per_page.to_s), {:onChange=>"markDirty()", :class => 'input-mini'}) %>
    <%=link_to_function("<span>Submit Filter</span>".html_safe, "wfFilter.submit()", :class => "btn btn-primary") %>
  </div>
</div>
